<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width1, initial-scale=1.0">
  <title>Environmental</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <!--    Navbar-->
  <nav class="navbar navbar-expand-lg diamond_Plate">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img-fluid" src="../Images/JHC-Logo-None.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto text-light m-2 p-2 navbar_Border">
          <a class="nav-link nav_Anime text-light" href="#">Home</a>
          <a class="nav-link nav_Anime text-light" href="#">Service Stations</a>
          <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="construction_Link"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Construction
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="construction_Link">
                                <li><a class="dropdown-item" href="#">Commercial</a></li>
                                <li><a class="dropdown-item" href="#">Residential</a></li>
                                <li><a class="dropdown-item" href="#">Demolition</a></li>
                                <li><a class="dropdown-item" href="#">Paving & Concrete</a></li>
                            </ul>
                        </li>
                    </ul>
          <a class="nav-link nav_Anime text-light" href="#">Tanks</a>
          <a class="nav-link nav_Anime text-light" href="#">Asbestos</a>
          <a class="nav-link nav_Anime text-light" href="#">Trucking</a>
          <a class="nav-link nav_Anime text-light" href="#">Rentals</a>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="service_Link" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Other Services
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="service_Link">
                <li><a class="dropdown-item" href="#">Overhead Doors</a></li>
                <li><a class="dropdown-item" href="#">Gates</a></li>
                <li><a class="dropdown-item" href="#">Compactors</a></li>
                <li><a class="dropdown-item" href="#">Air Compressors</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>

    <div class="section bg-body p-3" style="background-image: url('../Images/garage_Door11.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;">

      <div class="container">

        <div class="row bg-light text-center align-items-center" style="border-radius: 25px;">

          <div class="col-md-6"> <!-- Column1 -->

            <p class="pt-3"><img class="phone" src="../Images/phone-solid.svg"> 304-917-6477</p>
            <div class="card img-fluid">
              <img class="card-img-top" src="../Images/construction_Photo.jpg" alt="Card image" style="width:100%">
              <div class="card-img-overlay">
                <h4 class="card-title infographic_Title text-light bg-success">Environmental</h4>
              </div>
            </div>

            <p class="mt-5 lead text-dark" style="border-radius: 25px;">Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Libero suscipit repellendus
              temporibus
              numquam, nulla fugit eligendi odio ducimus quo est similique unde ut dolorum facere sequi, fuga hic
              omnis quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit repellendus
              temporibus
              numquam, nulla fugit eligendi odio ducimus quo est similique unde ut dolorum facere sequi, fuga hic
              omnis quidem!
              numquam, nulla fugit eligendi odio ducimus quo est similique unde ut dolorum facere sequi, fuga hic
              omnis quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit repellendus
              temporibus
              numquam, nulla fugit eligendi odio ducimus quo est similique unde ut dolorum facere sequi, fuga hic
              omnis quidem!</p>

            <div class="col p-1 m-3 text-light border border-dark border-2 bg-success" style="border-radius: 25px;">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores dolores in totam
                laboriosam
                itaque nisi, iste minus odio? Itaque fugit temporibus modi eius aut qui ipsam natus velit quam!</p>
            </div>
          </div> <!-- Column 1 -->

          <div class="col-md-6">
            <!-- Column 2 -->

            <div class="row p-3 m-4 text-light bg-success" style="border-radius: 25px;">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores dolores in totam
                laboriosam
                itaque nisi, iste minus odio? Itaque fugit temporibus modi eius aut qui ipsam natus velit quam!Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores dolores in totam
                laboriosam
                itaque nisi, iste minus odio? Itaque fugit temporibus modi eius aut qui ipsam natus velit quam!Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores dolores in totam
                laboriosam
                itaque nisi, iste minus odio? Itaque fugit temporibus modi eius aut qui ipsam natus velit quam!Lorem
                ipsum dolor sit, amet consectetur adipisicing elit. Ullam asperiores dolores in totam
                laboriosam
                itaque nisi, iste minus odio? Itaque fugit temporibus modi eius aut qui ipsam natus velit quam!
              </p>
            </div>
            <hr>


            <div class="row p-1 m-5 " style="border-radius: 25px;">

              <div id="carouselExampleSlidesOnly" class="carousel slide p-0 border border-1 border-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../Images/construction.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../Images/environment1.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../Images/tanks.png" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5 text-end">
              <div class="col-9">
              <img class="img-fluid" style="max-width:25%;" src="../Images/bonded.png" alt="">
                </div>
            </div>
            <hr>

          </div> <!-- Column2 -->

        </div> <!-- Row -->

      </div> <!-- Container -->
    </div> <!-- Section -->

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>