<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width1, initial-scale=1.0">
    <title>JHC-WV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="row text-end">
        <a href="tel:3042959257" style="text-decoration: none;"><p class="m-0 pe-5 pt-1 text-light black_BG">304 295-9257</p></a>
    </div>
    <!--    Navbar-->
    <nav class="navbar navbar-expand-lg text-light black_BG">
        <div class="container">
            <a href="./home.html" class="navbar-brand p-0"><img class="img-fluid" src="../Images/JHC-Logo-None.png" alt=""
            width="309" height="134"></a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav align-items-center ms-auto m-2 p-2 navbar_Border">
                    <a class="nav-link nav_Anime" href="#">Service Stations</a>
                    <a class="nav-link nav_Anime" href="#">Environmental</a>
                    <a class="nav-link nav_Anime" href="#">Tanks</a>
                    <a class="nav-link nav_Anime" href="#">Asbestos</a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="construction_Link" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Construction
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="construction_Link">
                                <li><a class="dropdown-item" href="./construction.html">Commercial</a></li>
                                <li><a class="dropdown-item" href="#">Residential</a></li>
                                <li><a class="dropdown-item" href="#">Demolition</a></li>
                                <li><a class="dropdown-item" href="#">Paving & Concrete</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="nav-link nav_Anime" href="#">Trucking</a>
                    <a class="nav-link nav_Anime" href="#">Rentals</a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="service_Link" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Service
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="service_Link">
                                <li><a class="dropdown-item" href="#">Overhead Doors</a></li>
                                <li><a class="dropdown-item" href="#">Gates</a></li>
                                <li><a class="dropdown-item" href="#">Compactors</a></li>
                                <li><a class="dropdown-item" href="#">Air Compressors</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<!--style="background-image: url('../Images/garage_Door4.png');-->
<!--     background-repeat: no-repeat;-->
<!--     background-attachment: fixed;-->
<!--     background-size: cover;-->
    <div class="section" style="
            background-color: #f6f5f2;">
        <main class="container-lg text-center text-dark border border-dark border-0 p-3" style="
            background-color: #fff;">

            <div class="row">
                <h1 class="text-dark">Construction & Specialty Trade Contractor</h1>
                <p class="text-dark"><b>Family owned and operated, Jimmie Harper Construction
                                has worked in <span class="text-success"><b>West Virginia</b></span> and the MOV
                                for over 50 years. We pride ourselves on safety and service.
                </b></p>

                <!-- Info Graphics -->
                <div class="col-md mt-5">
                    <div class="card img-fluid infographic_Border">
                        <img class="card-img-top" src="../Images/service_Station_Blurry.png" alt="Service Station"
                            style="width:100%" width="274" height="184">
                        <div class="card-img-overlay">
                            <h2 class="card-title infographic_Title">Service Stations</h2>
                            <ul class="infographic_Text">
                                <li>Consultation</li>
                                <li>Construction and Demolition</li>
                                <li>Maintenance</li>
                                <li>Repairs</li>
                                <li>Emergency Services</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success bottom">Learn More</a>
                </div>

                <div class="col-md mt-5">
                    <div class="card img-fluid infographic_Border">
                        <img class="card-img-top" src="../Images/environment_Blurry.png" alt="Environmental"
                            style="width:100%" width="274" height="184">
                        <div class="card-img-overlay">
                            <h2 class="card-title infographic_Title">Environmental</h2>
                            <ul class="infographic_Text">
                                <li>Consultation</li>
                                <li>Remediation</li>
                                <li>Hydro Seeding</li>
                                <li>Hazmat</li>
                                <li>Brownfield Redevelopment</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success bottom">Learn More</a>
                </div>

                <div class="col-md mt-5">
                    <div class="card img-fluid infographic_Border">
                        <img class="card-img-top" src="../Images/tanks_Blurry.png" alt="Tank Service" style="width:100%"
                        width="274" height="184">
                        <div class="card-img-overlay">
                            <h2 class="card-title infographic_Title">Tank Service</h2>
                            <ul class="infographic_Text">
                                <li>AST & UST</li>
                                <li>Installation</li>
                                <li>Maintenance</li>
                                <li>Repair</li>
                                <li>Removal</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="btn btn-success bottom">Learn More</a>
                </div>

                <!-- Information Footer -->
                <div class="row ms-auto mt-4">
                    <div class="col-md-9">
                        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                            dignissim aliquam
                            lectus, ut ultricies tellus commodo non. Aliquam a mauris tellus. Nam sodales tincidunt nisl
                            non
                            tristique. Mauris ac faucibus augue. Sed eget mollis felis Aliquam a mauris tellus. Nam
                            sodales tincidunt nisl non
                            tristique. Mauris ac faucibus augue. Sed eget mollis felis</p>
                        <hr>
                    </div>
                    <div class="col-md-3 mb-5">
                        <img style="width: 100%"
                            class="img-fluid bg-light d-none d-md-block" src="../Images/pei2.png"
                            alt="PEI Member" width="301" height="167">
                    </div>
                </div>
            </div>
                <!--                Asbestos Insert-->
                <div class="row">

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/asbestos.png" alt="Asbestos Abatement" style="width:100%"
                            width="300" height="200">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Asbestos</h2>
                                <ul class="infographic_Text">
                                    <li>Testing</li>
                                    <li>Abatement</li>
                                    <li>Air Monitoring</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <div class="col-md mb-5">
                        <div class="row">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                dignissim aliquam lectus, ut ultricies tellus commodo non. Aliquam a mauris tellus. Nam
                                sodales tincidunt
                                nisl non tristique. Mauris ac faucibus augue. Sed eget mollis felis Aliquam a mauris
                                tellus. Nam
                                sodales tincidunt nisl non tristique.
                            </p>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 mb-5 ms-center">
                                <div class="card img-fluid infographic_Border">
                                    <img class="card-img-top" src="../Images/lab.png" alt="Clandestine Labs"
                                        style="width:100%;">
                                    <div class="card-img-overlay">
                                        <h2 class="card-title infographic_Title" style="font-size: 1.4em;">Labs</h2>
                                        <ul class="infographic_Text">
                                            <li>Testing</li>
                                            <li>Remediation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                    dignissim aliquam lectus, ut ultricies tellus commodo non. Aliquam a mauris tellus.
                                    Nam sodales tincidunt
                                </p>
                                <a href="#" class="btn btn-success">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- 2nd Row -->
                <div class="row text-center">

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/construction_Blurry.png" alt="Construction"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Construction</h2>
                                <ul class="infographic_Text">
                                    <li>Commercial</li>
                                    <li>Residential</li>
                                    <li>Demolition</li>
                                    <li>Paving</li>
                                    <li>Concrete</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle bottom" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Learn More
                            </button>
                            <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item text-light" href="#">Commercial</a>
                                <a class="dropdown-item text-light" href="#">Residential</a>
                                <a class="dropdown-item text-light" href="#">Demolition</a>
                                <a class="dropdown-item text-light" href="#">Paving & Concrete</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/trucking_Blurry.png" alt="Trucking"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Trucking</h2>
                                <ul class="infographic_Text">
                                    <li>Delivery</li>
                                    <li>Hauling & Heavy Hauling</li>
                                    <li>Vac Truck Services</li>
                                    <li>Tanker Services</li>
                                    <li>Dump Truck Services</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/equipment2_Blurry.png" alt="Equipment Rental"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Rentals</h2>
                                <ul class="infographic_Text">
                                    <li>Heavy Equipment</li>
                                    <li>Light Equipment</li>
                                    <li>Roll Off Boxes</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <!-- Information Footer -->
                    <div class="row ms-auto mt-4">
                        <div class="col-md-3 mb-sm-5">
                            <img class="img w-50 mx-auto d-none d-md-block" src="../Images/hardhat4.png" alt="">
                        </div>
                        <div class="col-md">
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                dignissim aliquam lectus, ut ultricies tellus commodo non. Aliquam a mauris tellus. Nam
                                sodales tincidunt
                                nisl non tristique. Mauris ac faucibus augue. Sed eget mollis felis Aliquam a mauris
                                tellus. Nam
                                sodales tincidunt nisl non tristique. Mauris ac faucibus augue. Sed eget mollis felis
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- 3rd Row -->
                <div class="row">

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/commercial_Door_Blurry.png" alt="Commercial Door"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Overhead Door</h2>
                                <ul class="infographic_Text">
                                    <li>Rolling Service</li>
                                    <li>Sectional Steel</li>
                                    <li>Rolling Shutters</li>
                                    <li>Security Grilles</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/commercial_Gate_Blurry.png" alt="Commercial Gate"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Gates</h2>
                                <ul class="infographic_Text">
                                    <li>Sliding Gates</li>
                                    <li>Gate Operators</li>
                                    <li>Security Gates</li>
                                    <li>Swing Gates</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <div class="col-md mb-5">
                        <div class="card img-fluid infographic_Border">
                            <img class="card-img-top" src="../Images/compactor_Blurry.png" alt="Air Compressors"
                                style="width:100%" width="274" height="184">
                            <div class="card-img-overlay">
                                <h2 class="card-title infographic_Title">Service</h2>
                                <ul class="infographic_Text">
                                    <li>Compactors & Bailers</li>
                                    <li>Air Compressors</li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-success bottom">Learn More</a>

                    </div>

                    <!-- Information Footer -->
                    <div class="row ms-auto mt-4">
                        <div class="col-md">
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                dignissim aliquam
                                lectus, ut ultricies tellus commodo non. Aliquam a mauris tellus. Nam sodales tincidunt
                                nisl non
                                tristique. Mauris ac faucibus augue. Sed eget mollis felis Aliquam a mauris tellus. Nam
                                sodales tincidunt nisl non
                                tristique. Mauris ac faucibus augue. Sed eget mollis felis </p>
                            <hr>
                        </div>
                    </div>
                </div>

        </main>
    </div>
    <!--Footer-->
    <footer class="bg-black text-light p-5">
        <div class="container">
            <div class="row d-md m-0 align-items-center justify-content-between">
                <div class="col-6">
                    <a href="./home.html">
                        <img class="img-fluid w-50 d-none d-md-block" src="../Images/JHC-Logo-None.png" width="309" height="134">
                    </a>
                </div>
                <div class="col-md">
                    <a href="https://goo.gl/maps/FdEQ8tP5sbtVEmUW9" target="_blank"  rel="noopener noreferrer">
                    <p style="margin: 0;">PO Box 5367</p>
                    <p style="margin: 0;">3201 River Road</p>
                    <p style="margin: 0;">Vienna, WV 26105</p>
                    </a>
                </div>
                <div class="col-md">
                    <p style="margin: 0;">Contact:</p>
                    <a href="tel:3042959257"><p style="margin: 0;">304 295-9257</p></a>
                    <p style="margin: 0;">jody.casto@jhcwv.com</p>
                </div>
                <hr>
            </div>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh2U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
</body>

</html>